  <div class="contenitore">
  <table class="table">
    <tHead>
    <tr>
      <th scope ="col-1">ID</th>
      <th scope ="col-8">NAME</th>
    </tr>
  </tHead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td class="badge">{{hero.id}}</td>
      <td class="name">{{hero.name}}</td>
      <div>
        <button routerLink="/detail/{{hero.id}}" id= "aggiorna" type="button" class="btn btn-primary" >Aggiorna</button>
      <button  type="button" class="delete" id="clicca"
      (click)="delete(hero.id)">Cancella</button></div>
    </tr>
  </tbody>
  </table>
</div>
  <div class="creaBottone">
    <label for="creazione">Nome: </label>
    <input id="creazione" #creazioneName/>
  <button id= "crea" type="button" class="btn btn-primary" (click)="create(creazioneName.value)">Crea</button>
 
</div>